.selecionar {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.cards {
    gap: 1rem;
    width: 100%;
    display: flex;
    height: fit-content;
}

.card {
    gap: 1.5rem;
    display: flex;
    padding: 1rem;
    width: fit-content;
    flex-direction: column;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card > div:not(:first-child) {
    color: gray;
}

.card > div {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.card > div > img {
    width: 250px;
    border-radius: 0.2rem;
    aspect-ratio: 1 / 0.55;
    background-size: contain;
}

.card hr {
    height: 1px;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.orcamento {
    gap: 2rem;
    padding: 2rem;
    display: flex;
    width: 75%;
    background: white;
    align-self: center;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.orcamento > h2, label {
    color: #252525;
    font-weight: bold;
}

.orcamento form {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.orcamento form > div {
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
}

.orcamento form > div > input, textarea {
    padding: 0.75rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
}

.orcamento form > div > textarea {
    resize: none;
}

.orcamento form > button {
    padding: 1rem 1.5rem;
    width: fit-content;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 0.2rem;
    background: mediumseagreen;
}

.orcamento form > button:hover {
    cursor: pointer;
    background: #35a869;
    transition: background 0.1s;
}